<!DOCTYPE html>

<head>
  <title>
    Photopia
  </title>
  <!-- bootstrap cdn -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet" />

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
  <!-- axios cdn -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>console.log(axios)</script>

  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>
<style>
  /* #login
    {
        padding-left: 1200px;
    } */
  /* .card-img-top
    {
        max-height: 600px;
    } */
  .reactions {
    margin: auto;
  }

  .nooflikes {
    margin: auto;
  }

  #upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    padding-top: 10px;
  }

  #display_image {
    width: 300px;
    height: 169px;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
  }

  #user {
    position: absolute;
    right: 100px;
    top: 17px;
  }
</style>

<body>

  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <div class="navs" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/">Photopia</a>
            </li>
            <li class="nav-item" id="login" style="position:absolute; right: 20px;;">
                <a class="nav-link" href="/auth/google">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Jumbotron -->

    <br>
    <!-- <div class="container" id="upload">
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <div class="uploadpost">
            <div class="container">
              <p>Upload post</p>
              <form action="/" method="post" id="uploadform">
                <input type="file" id="image_input" name="picture" accept="image/png, image/jpg">
                
                <input type="text" id="caption" name="caption" placeholder="Write Caption"
                  style="width: 20rem; height: 5rem; margin-bottom: 10px; margin-top: 10px;">
                <input type="submit" value="Submit" style="border-radius: 10px; margin: auto; margin-bottom: 10px;">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br> -->

    <% posts.forEach(function(post){ %>
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="card" style="width: 40rem;">
            <div class="d-flex flex-row add-comment-section mt-2 mb-2">
              <img class="img-fluid img-responsive rounded-circle ms-3 mt-1 mb-1" style="margin-right: 10px;"
                src="<%=post.createdByPic%>" width="38">
              <h5 class="mt-2">
                <%=post.createdByName%>
              </h5>
            </div>
            <img class="card-img-top"
              src="<%= post.picture %> "
              alt="Card image cap">
            <div class="card-body">
              <div class="reactions">
                <i class="fa-solid fa-heart fa-2x" id="<%=post._id%>" style="color: #696969;cursor: pointer;"></i>
                <a href="/posts/<%=post._id%>"><i class="fa-solid fa-comments fa-2x"></i></a>
              </div>
              <p class="nooflikes">
                <%=post.likes%> likes
              </p>
              <p class="card-text">
                <%=post.caption%>
              </p>
            </div>

          </div>
        </div>
      </div>
      <br>

      <% }) %>

  </header>

</body>

</html>